<div class="header">
  <h1>City of Boston Early Voting Location Selection</h1>
  <div id="map" class="hidden"></div>
</div>

<div id="breadcrumb">
  <div class="breadcrumb">
    <%= link_to 'Location selection', root_path %><span class="crumbs-separator"> &gt; </span>Vote for <%= @location.name %>
  </div>
</div>

<div id="location" data-lat="<%= @location.lat %>" data-lng="<%= @location.lng %>" class="component component--centered <% if !@has_posted %>squiggle-border-bottom<% end %>">
  <div class="component__title">
    <h2><%= @location.name %></h2>
    <div class="component__location"><%= @location.description %></div>
  </div>
  <div class="component__intro">
    You've selected <%= @location.name %> as your preferred early voting location. Now please let us know when would be most convenient for you to visit this location.
  </div>
</div>


<div class="component component--centered component--smallTop">
  <%= form_for [@location, @vote] do |f| %>
    <div class="form-item form-type-textfield form-item-name">
      <%= f.label :day, "Which day is most convenient?", class: 'block-label' %>
      <%= f.collection_radio_buttons :day, [['monday', 'Monday'], ['wednesday', 'Wednesday'], ['friday', 'Friday'], ['saturday', 'Saturday']], :first, :last do |b| %>
        <%= b.label class:"label-radio" do%>
          <%= b.radio_button %>
          <span class="outer"><span class="inner"></span></span>
          <span><%= b.text %></span>
        <%end%>
      <% end %>
    </div>
    <div class="form-item form-type-textfield form-item-name">
      <%= f.label :time, "What time of day is most convenient?", class: 'block-label' %>
      <%= f.collection_radio_buttons :time, [['early_morning', '7AM-10AM'], ['midday', '10AM-1PM'], ['afternoon', '1PM-4PM'], ['evening', '4PM-8PM']], :first, :last do |b| %>
        <%= b.label class:"label-radio" do%>
          <%= b.radio_button %>
          <span class="outer"><span class="inner"></span></span>
          <span><%= b.text %></span>
        <%end%>
      <% end %>
    </div>
    <div class="form-item form-type-textfield form-item-name">
      <%= f.label :comment, "Anything else you'd like us to know?", class: 'block-label' %>
      <%= f.text_field :comment, :class => "form-text", :size => 60, :maxlength => 200 %>
    </div>
    <%= f.button :class => "btn" do %>Submit your preferred times<% end %>
  <% end %>
</div>
