<div class="header">
  <h1>City of Boston Early Voting Location Selection</h1>
</div>

<div class="component component--centered squiggle-border-bottom">
  <div class="component__title">
    <h2>Early Voting</h2>
  </div>
  <div class="component__intro">Early voting is similar to absentee voting, however all residents are eligible. Throughout the week prior to Election Day, you will be able to mail in ballots to the Elections Department or vote at any of the nine locations around the City. Unlike traditional polling, you are not assigned to one location and can visit the early voting location that is most convenient for you.</div>
</div>
<div class="component component--centered component--smallTop">
  <h3>Where do I vote?</h3>
  <p>Locations for early voting have not been decided. We're looking for input from residents on where to place early voting sites so they will be convenient for residents—accessible from your home, on your lunch break, or while running errands.</p>
</div>


<div id="tableComponent" class="component component--centered">
  <div class="component__title">
    <h2>Voting Locations</h2>
  </div>
  <table>
    <thead>
      <th>Location Name</th>
      <th>Address</th>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
        <tr class="location" data-lng="<%= location.lng %>" data-lat="<%= location.lat %>" data-template="#location-<%=location.id %>">
          <td><%= location.name %></td>
          <td><%= location.description %></td>
          <td><%= button_to 'This one', yay_location_path(location), {method: :post, class: 'btn btn-small btn-yay'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div aria-role="hidden" class="hidden">
  <% @locations.each do |location| %>
    <div class="location-template" id="location-<%=location.id %>">
      <h3>Would you like to vote for?</h3>
      <h4><%= location.name %></h4>
      <address><%= simple_format location.description %></address>
      <%= button_to 'This one', yay_location_path(location), {method: :post, class: 'btn btn-small btn-yay'} %>
    </div>
  <% end %>
</div>

<div class="map-container">
  <div class="map-modal">
    <div class="map-component component">
      <h3>Tell us where you want to vote</h3>
      <p>Choose a site on the map that you would like to see as an early voting location. <em><strong>This will not impact our regular voting locations.</strong></em></p>
      <% unless @has_posted %>
        <button id="mapEnable" class="btn">Select a location</button>
      <% else %>
        <p><em>Thank-you for participating previously.</em></p>
      <% end %>
    </div>
  </div>
  <div id="map" class="hidden"></div>
</div>
