<div class="header">
  <h1>City of Boston Early Voting Location Selection</h1>
  <div id="map" class="hidden"></div>
</div>

<div id="breadcrumb">
  <div class="breadcrumb">
    <%= link_to 'Location selection', root_path %><span class="crumbs-separator"> &gt; </span>Vote for <%= @location.name %>
  </div>
</div>

<div id="location" data-lat="<%= @location.lat %>" data-lng="<%= @location.lng %>" class="component component--centered">
  <div class="component__title">
    <h2><%= @location.name %></h2>
    <div class="component__location"><%= @location.description %></div>
  </div>
  <% if !@has_posted %>
    <div class="component__intro">
      Please <%= link_to "select a location", root_path %> to let us know your preferred voting location.
    </div>
  <% else %>
    <div class="component__intro">
      Thank you for letting us know that <%= @location.name %> is your preferred early voting location. If you have any feedback, please send an email to <a href="mailto:EVfeedback@boston.gov">EVfeedback@boston.gov</a>.
    </div>
  <% end %>
</div>
