<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vote for early voting locations</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBySQnQIwp0KZYhLiqVpnOFi-H_Bs8Su9s"></script>
  <link href='https://fonts.googleapis.com/css?family=Lora:400italic|Montserrat:700' rel='stylesheet' type='text/css'>
  <!--[if lte IE 9]>
    <%= javascript_include_tag 'flexibility', 'data-turbolinks-track' => true %>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, autoDisplay: true});
    }
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <%= yield %>
  <script src="//cob-header.herokuapp.com/header.js"></script>
  <footer class="footer" aria-role="hidden"></footer>
</body>
</html>
